.chat_history::-webkit-scrollbar{			/*Removes Scrollbar for chatlogs*/
	width: 10px;
	
}
.chat_history::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(2,3,1,.2);			/*New Scrollbar for chatlogs*/

}
